In [1]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [3]:
filePath = '/content/drive/My Drive/MLBootcamp/Day Four (6 18)/'
!ls '/content/drive/My Drive/MLBootcamp/Day Four (6 18)/'

movies.csv  PandasIntro.ipynb  ratings.csv

In [4]:
filePathMovies = filePath + 'movies.csv'
filePathRatings = filePath + 'ratings.csv'

In [5]:
moviesDF = pd.read_csv(filePathMovies)

In [6]:
ratingsDF = pd.read_csv(filePathRatings)

In [7]:
moviesDF.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [8]:
ratingsDF.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
ratingsWithoutColumns = ratingsDF.drop(columns = ["userId", "timestamp"]).groupby("movieId").mean()
ratingsWithoutColumns

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
...           ...
193581   4.000000
193583   3.500000
193585   3.500000
193587   3.500000
193609   4.000000

[9724 rows x 1 columns]

In [10]:
moviesWithoutTitles = moviesDF.drop(columns = ["title"])
moviesWithoutTitles

      movieId                                       genres
0           1  Adventure|Animation|Children|Comedy|Fantasy
1           2                   Adventure|Children|Fantasy
2           3                               Comedy|Romance
3           4                         Comedy|Drama|Romance
4           5                                       Comedy
...       ...                                          ...
9737   193581              Action|Animation|Comedy|Fantasy
9738   193583                     Animation|Comedy|Fantasy
9739   193585                                        Drama
9740   193587                             Action|Animation
9741   193609                                       Comedy

[9742 rows x 2 columns]

In [11]:
cominedDF = pd.concat([moviesWithoutTitles, ratingsWithoutColumns], axis = 1, join = "inner")
cominedDF

      movieId                      genres    rating
1           2  Adventure|Children|Fantasy  3.920930
2           3              Comedy|Romance  3.431818
3           4        Comedy|Drama|Romance  3.259615
4           5                      Comedy  2.357143
5           6       Action|Crime|Thriller  3.071429
...       ...                         ...       ...
9004   140016                      Horror  2.000000
9005   140038                      Comedy  2.000000
9008   140162               Drama|Romance  2.500000
9010   140237                       Drama  4.100000
9018   140523               Comedy|Horror  4.333333

[5390 rows x 3 columns]

In [12]:
joinedDF = pd.merge(moviesWithoutTitles, ratingsWithoutColumns, left_on = "movieId", right_on = "movieId")
#pd.merge(moviesWithoutTitles, ratingsWithoutColumns, left_on = "movieId", right_on = "movieId")
#moviesWithoutTitles.set_index("movieId").join(ratingsWithoutColumns.set_index("movieId"))
joinedDF

      movieId                                       genres    rating
0           1  Adventure|Animation|Children|Comedy|Fantasy  3.920930
1           2                   Adventure|Children|Fantasy  3.431818
2           3                               Comedy|Romance  3.259615
3           4                         Comedy|Drama|Romance  2.357143
4           5                                       Comedy  3.071429
...       ...                                          ...       ...
9719   193581              Action|Animation|Comedy|Fantasy  4.000000
9720   193583                     Animation|Comedy|Fantasy  3.500000
9721   193585                                        Drama  3.500000
9722   193587                             Action|Animation  3.500000
9723   193609                                       Comedy  4.000000

[9724 rows x 3 columns]

In [13]:
genres = joinedDF["genres"].str.get_dummies(sep = "|")
genres

      (no genres listed)  Action  Adventure  ...  Thriller  War  Western
0                      0       0          1  ...         0    0        0
1                      0       0          1  ...         0    0        0
2                      0       0          0  ...         0    0        0
3                      0       0          0  ...         0    0        0
4                      0       0          0  ...         0    0        0
...                  ...     ...        ...  ...       ...  ...      ...
9719                   0       1          0  ...         0    0        0
9720                   0       0          0  ...         0    0        0
9721                   0       0          0  ...         0    0        0
9722                   0       1          0  ...         0    0        0
9723                   0       0          0  ...         0    0        0

[9724 rows x 20 columns]

In [14]:
genres["Documentary"].value_counts()

0    9286
1     438
Name: Documentary, dtype: int64

In [15]:
joinedDF = pd.concat([joinedDF, genres], axis = 1)
joinedDF.drop(columns = ["movieId"])

                                           genres    rating  ...  War  Western
0     Adventure|Animation|Children|Comedy|Fantasy  3.920930  ...    0        0
1                      Adventure|Children|Fantasy  3.431818  ...    0        0
2                                  Comedy|Romance  3.259615  ...    0        0
3                            Comedy|Drama|Romance  2.357143  ...    0        0
4                                          Comedy  3.071429  ...    0        0
...                                           ...       ...  ...  ...      ...
9719              Action|Animation|Comedy|Fantasy  4.000000  ...    0        0
9720                     Animation|Comedy|Fantasy  3.500000  ...    0        0
9721                                        Drama  3.500000  ...    0        0
9722                             Action|Animation  3.500000  ...    0        0
9723                                       Comedy  4.000000  ...    0        0

[9724 rows x 22 columns]

In [25]:
joinedDF = joinedDF.drop(columns = ["movieId", "genres"])

In [26]:
df2 = joinedDF[joinedDF["(no genres listed)"] == 0]
df2

        rating  (no genres listed)  Action  ...  Thriller  War  Western
0     3.920930                   0       0  ...         0    0        0
1     3.431818                   0       0  ...         0    0        0
2     3.259615                   0       0  ...         0    0        0
3     2.357143                   0       0  ...         0    0        0
4     3.071429                   0       0  ...         0    0        0
...        ...                 ...     ...  ...       ...  ...      ...
9719  4.000000                   0       1  ...         0    0        0
9720  3.500000                   0       0  ...         0    0        0
9721  3.500000                   0       0  ...         0    0        0
9722  3.500000                   0       1  ...         0    0        0
9723  4.000000                   0       0  ...         0    0        0

[9690 rows x 21 columns]

In [28]:
df2 = df2.drop(columns = ["(no genres listed)"])
df2

        rating  Action  Adventure  Animation  ...  Sci-Fi  Thriller  War  Western
0     3.920930       0          1          1  ...       0         0    0        0
1     3.431818       0          1          0  ...       0         0    0        0
2     3.259615       0          0          0  ...       0         0    0        0
3     2.357143       0          0          0  ...       0         0    0        0
4     3.071429       0          0          0  ...       0         0    0        0
...        ...     ...        ...        ...  ...     ...       ...  ...      ...
9719  4.000000       1          0          1  ...       0         0    0        0
9720  3.500000       0          0          1  ...       0         0    0        0
9721  3.500000       0          0          0  ...       0         0    0        0
9722  3.500000       1          0          1  ...       0         0    0        0
9723  4.000000       0          0          0  ...       0         0    0        0

[9690 rows x 20 columns]